iframe {
    width: 853px;
    height: 480px;
    border: 1px #999 solid;
}

textarea {
    width: 850px;
    height: 80px;
    background-color: #fff;
    resize: none;
}

button {
    width: 100px;
    height: 30px;
    background-color: #282828;
    border: none;
    color: #fff;
    font-family: Arial;
    font-weight: 400;
    cursor: pointer;
}